*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root{
    --Pink:hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);
}
@font-face {
    font-family: "open-sans-regular";
    src: url("fonts/Open_Sans/static/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "open-sans-SemiBold";
    src: url("fonts/Open_Sans/static/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "open-sans-bold";
    src: url("fonts/Open_Sans/static/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "popins";
    src: url("fonts/Poppins/Poppins-Bold.ttf");
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom:4rem ;
}
#logo{
    width: 10rem;
}
#buttton-header {
    color: var(--LightPink);
    border: 1px solid var(--LightPink);
    padding: 0.3rem 1rem;
    background-color: white;
    border-radius: 1rem;
    font-family: "open-sans-regular";
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}
#buttton-header:hover{
    background-color: var(--LightPink);
    color: white;
}
#artcl-sec1{
    width: 80vw;
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;
}
#h1-sec1{
    font-family: "open-sans-bold";
    font-size: 2rem;
}
#p-sec1{
    width: 30vw;
    margin:1rem auto;
    font-family: "open-sans-SemiBold";
    font-size: 0.9rem;   
}
.get-stared-btn {
    font-family: "open-sans-SemiBold";
    color: white;
    background-color: var(--Pink);
    border-radius: 5rem;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 31%);
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;
    border: 1px solid var(--Pink);
}
.get-stared-btn:hover{
    background-color: white;
    color: var(--Pink);
    border: 1px solid var(--Pink);
}
#ilustration-sec1{
    width: 45rem;
    margin: auto;
    display: flex;
    justify-content: center;

}









.sec2{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: auto;
    gap: 6rem;
    text-align: center;
}
.secs{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.numbers-content{
    font-family: "open-sans-";
    font-size: 4rem;
}
.text-under-numbers{
    font-family: "open-sans-SemiBold";
    color: rgba(0, 0, 0, 0.377);
}
.ilustration-size{
    width: ;
}





